VITE_SUPABASE_URL=https://fymhyqvesvqvsjcmqhbq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5bWh5cXZlc3ZxdnNqY21xaGJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2MDI4NzIsImV4cCI6MjA5NjE3ODg3Mn0.0Bxadna-4BRp1AJaUFP0sfe6RBD7BKe_bnOOuU6BbTM
